{% extends "base.html" %}
{% load static %}
{% load game_tags %}

{% block content %}
    <!-- Search -->
    <form class="flex flex-col md:flex-row gap-3 ms-4 mt-4" method="GET">
        <div class="flex">
            {% with search=request.GET.search %}
                <input id='search' name='search' type="text" placeholder="Поиск игры/автора" value="{% if search %}{{ search }}{% endif %}"
                    class="md:w-80 px-3 h-10 border-t border-b border-l rounded-sm focus:outline-none focus:border-orange-500"
                    >
                <button type="submit" class="bg-orange-500 text-white rounded-r px-2 md:px-3 py-0 md:py-1">Поиск</button>
            {% endwith %}
        </div>
        {% with request.GET.pricing_type as filter %}        
        <select id="pricing_type" name="pricing_type"
        class="z-30 h-10 border-2 border-orange-500 focus:outline-none focus:border-orange-500 text-orange-500 rounded px-2 md:px-3 py-0 md:py-1 tracking-wider bg-white">
            <option class="text-gray-800 hover:bg-orange-600 hover:text-white" value="all" {% if not filter %}selected{% endif %}>Все</option>
            <option class="text-gray-800 hover:bg-orange-600 hover:text-white" value="discount" {% if filter == 'discount' %}selected{% endif %}>Со скидкой</option>
            <option class="text-gray-800 hover:bg-orange-600 hover:text-white" value="free" {% if filter == 'free' %}selected{% endif %}>Бесплатные</option>
            <option class="text-gray-800 hover:bg-orange-600 hover:text-white" value="paid" {% if filter == 'paid' %}selected{% endif %}>Платные</option>
            <option class="text-gray-800 hover:bg-orange-600 hover:text-white" value="wishlisted" {% if filter == 'wishlisted' %}selected{% endif %}>В списке желаемого</option>
            <option class="text-gray-800 hover:bg-orange-600 hover:text-white" value="mine" {% if filter == 'mine' %}selected{% endif %}>Мои игры</option>
        </select>
        {% endwith %}

        <div class="flex flex-col md:flex-row justify-end flex-grow">
            <div class='p-2 rounded-md bg-orange-500 flex mr-4'>
                <a href="{% url 'carts:cart' %}" class="text-white mx-4">
                    Корзина
                </a>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                class='w-6 h-6 text-white'>
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
    </form>

    <!-- Game list -->
    <div class="max-w-screen-xl mx-auto p-4 sm:p-10 md:p-14">
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">

        {% for game in game_list %}
        <div class="card bg-white shadow-md rounded-xl flex flex-col justify-between leading-normal mt-4">
            <img src="{{ game.image.url }}" class="w-full mb-3 rounded-t-xl">
            <div class="">
                <div class="px-4 mb-4">
                    <div class='flex flex-row justify-between'>
                        <a href="{{ game.get_absolute_url }}"
                            class="card_link text-gray-900 font-bold text-lg mb-2 inline-block justify-self-start">{{ game.title }}</a>
                            {% if user %}
                                {% in_user_cart user.id game.pk as in_cart %}
                                {% in_user_wishlist user.id game.pk as in_wishlist %}
                            {% if in_cart %}
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                                class='cart_icon_{{game.id}} w-6 h-6 text-gray-800'>
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        </path>
                                    </g>
                                </svg>
                            {% elif in_wishlist %}
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class='wish_icon_{{game.id}} w-6 h-6 text-gray-800'>
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier"> 
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
                                    </g>
                                </svg>
                            {% endif %}
                        {% endif %}
                    </div>
                    <p class="text-gray-700 text-sm">{{ game.description|truncatechars:30 }}</p>
                    <a href='?{% set_query_params search=game.author.username %}' class="text-sm text-gray-500 mt-2">{{ game.author.username }}</a>
                    <div class="flex flex-row justify-between">
                        {% if game.discount != 0 %}
                            <p class="text-sm text-gray-500 mt-2">₽{{ game.total_price|floatformat }} <span class="text-[12px] text-gray-400 line-through">{{ game.price|floatformat }}</span></p>
                            <span class="text-sm text-gray-500 mt-2">Скидка {{ game.discount|floatformat }}%</span>
                        {% else %}
                            <p class="text-sm text-gray-500 mt-2">₽{{ game.total_price|floatformat }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="flex justify-center w-full mt-8">
        <ul class="flex items-center">
            <li class="px-2">
                <a href='{% if game_list.has_previous %}
                    ?{% set_query_params page=game_list.previous_page_number %}
                    {% endif %}'
                    class="w-9 h-9 flex items-center justify-center rounded-md border disabled  hover:text-orange-500">
                    <span>
                        <svg width="8" height="15" viewBox="0 0 8 15" class="fill-current stroke-current">
                            <path
                                d="M7.12979 1.91389L7.1299 1.914L7.1344 1.90875C7.31476 1.69833 7.31528 1.36878 7.1047 1.15819C7.01062 1.06412 6.86296 1.00488 6.73613 1.00488C6.57736 1.00488 6.4537 1.07206 6.34569 1.18007L6.34564 1.18001L6.34229 1.18358L0.830207 7.06752C0.830152 7.06757 0.830098 7.06763 0.830043 7.06769C0.402311 7.52078 0.406126 8.26524 0.827473 8.73615L0.827439 8.73618L0.829982 8.73889L6.34248 14.6014L6.34243 14.6014L6.34569 14.6047C6.546 14.805 6.88221 14.8491 7.1047 14.6266C7.30447 14.4268 7.34883 14.0918 7.12833 13.8693L1.62078 8.01209C1.55579 7.93114 1.56859 7.82519 1.61408 7.7797L1.61413 7.77975L1.61729 7.77639L7.12979 1.91389Z"
                                stroke-width="0.3"></path>
                        </svg>
                    </span>
                </a>
            </li>

            {% for page in game_list.paginator.page_range %}
            <li class="px-2">
                <a href='?{% set_query_params page=page %}' class="
                    {% if page == current_page %}bg-orange-500 text-white pointer-events-none{% endif %}
                    w-9 h-9 flex items-center justify-center rounded-md border transition-all ease-in-out duration-300 hover:bg-orange-500 hover:text-white"
                >{{ page }}
                </a>
            </li>
            {% endfor %}

            <li class="px-2">
                <a href='
                {% if game_list.has_next %}
                ?{% set_query_params page=game_list.next_page_number %}
                {% endif %}'
                    class="w-9 h-9 flex items-center justify-center rounded-md border hover:text-orange-500">
                    <span>
                        <svg width="8" height="15" viewBox="0 0 8 15" class="fill-current stroke-current">
                            <path
                                d="M0.870212 13.0861L0.870097 13.086L0.865602 13.0912C0.685237 13.3017 0.684716 13.6312 0.895299 13.8418C0.989374 13.9359 1.13704 13.9951 1.26387 13.9951C1.42264 13.9951 1.5463 13.9279 1.65431 13.8199L1.65436 13.82L1.65771 13.8164L7.16979 7.93248C7.16985 7.93243 7.1699 7.93237 7.16996 7.93231C7.59769 7.47923 7.59387 6.73477 7.17253 6.26385L7.17256 6.26382L7.17002 6.26111L1.65752 0.398611L1.65757 0.398563L1.65431 0.395299C1.454 0.194997 1.11779 0.150934 0.895299 0.373424C0.695526 0.573197 0.651169 0.908167 0.871667 1.13067L6.37922 6.98791C6.4442 7.06886 6.43141 7.17481 6.38592 7.2203L6.38587 7.22025L6.38271 7.22361L0.870212 13.0861Z"
                                stroke-width="0.3"></path>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script>
    window.onpageshow = function(event) {
      if (event.persisted || window.performance && window.performance.navigation.type === 2) {
        window.location.reload();
        window.onpageshow = null; // Unset the event handler after reload
      }
    };
  </script>
{% endblock scripts %}
