{% extends "base.html" %}
{% load static %}
{% load game_tags %}

{% block content %}
<div class="bg-gray-100 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:flex-1 px-4">
                <div class="h-[460px] rounded-lg bg-gray-300 mb-4">
                    <img class="w-full h-full object-cover rounded-lg" src="{{ game.image.url }}" alt="Product Image">
                </div>
                <div class="flex -mx-2 mb-4">
                    {% csrf_token %}    
                    <div class="w-1/2 px-2">
                        <button id="cart_btn" onclick="handle_btn_cart_click({{ user.id }}, {{game.pk}}, '{{ user.is_authenticated }}')"
                         class="w-full bg-orange-600 text-white py-2 px-4 rounded-lg font-bold hover:bg-orange-700">
                            {% in_user_cart user.id game.pk as in_cart %}
                            {% if not in_cart %}Добавить в корзину{% else %}Убрать из корзины{% endif %}
                        </button>
                    </div>
                    {% csrf_token %}
                    <div class="w-1/2 px-2">
                        {% in_user_wishlist user.id game.pk as in_wishlist %}
                        <button id='wishlist_btn' onclick="handle_btn_wishlist_click({{ user.id }}, {{ game.pk }}, '{{ user.is_authenticated }}')"  
                        class="w-full mx-12 bg-gray-200 text-gray-800 py-2 px-4 rounded-lg font-bold hover:bg-gray-300 whitespace-nowrap">
                            {% if not in_wishlist %}В желаемое{% else %}Убрать из желаемого{% endif %}
                        </button>
                    </div>
                </div>
            </div>
            <div class="md:flex-1 px-4">
                <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ game.title }}</h2>
                <div>
                    <span class="font-bold text-gray-700">Описание:</span>
                    <p class="text-gray-600 text-sm mt-2">{{ game.description }}</p>
                </div>
                <div class='mt-2'>
                    <span class="font-bold text-gray-700">Автор:</span>
                    <p class="text-gray-600 text-sm mt-2">{{ game.author.username }}</p>
                </div>
                <div class='mt-2'>
                    <span class="font-bold text-gray-700">Дата выхода:</span>
                    <p class="text-gray-600 text-sm mt-2">{{ game.release_date }}</p>
                </div>
                <div class="flex mt-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700">Цена:</span>
                        <span class="text-gray-600">{{ game.total_price|floatformat:2 }}₽</span>
                    </div>
                    <div>
                        <span class="font-bold text-gray-700">Скидка:</span>
                        <span class="text-gray-600">{{ game.discount|floatformat }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-2 justify-end">
        <a onclick='history.back()'
            class="me-4 inline-flex items-cente px-3 py-1.5 rounded-md text-gray-500 transition-colors duration-300 ease-in-out hover:text-orange-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18">
                </path>
            </svg>
            <span class="ml-1 font-bold text-lg">Вернуться в каталог</span>
        </a>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/carts/cart_buttons.js' %}"></script>
    <script src="{% static 'scripts/wishlist/wishlist_buttons.js' %}"></script>
{% endblock scripts %}