{% extends "base.html" %}
{% load static %}
{% load game_tags %}

{% block content %}
<div class="p-4 sm:p-6 lg:p-8">
    <div class='flex flex-col w-full sm:flex-col md:flex-col lg:flex-row '>
        <div class="px-4 sm:w-full md:w-full lg:w-1/2 inline">
            <div class="self-center rounded-lg bg-gray-300 mb-4">
                <img class="w-full object-cover rounded-lg" src="{{ game.image.url }}" alt="Product Image">
            </div>
            <div class="grid grid-cols-2 gap-2 mb-4">
                {% csrf_token %}
                <div class="mb-2 md:mb-0">
                    {% in_user_cart user.id game.pk as in_cart %}
                    {% in_user_wishlist user.id game.pk as in_wishlist %}
                    <button id="cart_btn"
                        onclick="handle_btn_cart_click('{{ user.id }}', {{ game.pk }}, '{{ user.is_authenticated }}')"
                        class="w-full bg-orange-600 text-white py-2 px-4 rounded-lg font-bold hover:bg-orange-700">
                        {% if not in_cart %}В корзину{% else %}Убрать из корзины{% endif %}
                    </button>
                </div>
                {% csrf_token %}
                <div>
                    <button id="wishlist_btn"
                        onclick="handle_btn_wishlist_click('{{ user.id }}', {{ game.pk }}, '{{ user.is_authenticated }}')"
                        class="w-full bg-gray-200 text-gray-800 py-2 px-4 rounded-lg font-bold hover:bg-gray-300">
                        {% if not in_wishlist %}В желаемое{% else %}Убрать из желаемого{% endif %}
                    </button>
                </div>
            </div>
        </div>
        <div class="px-4 sm:w-full md:w-full lg:w-1/2 inline">
            <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ game.title }}</h2>
            <div class="mb-4">
                <span class="font-bold text-gray-700">Описание:</span>
                <p class="text-gray-600 text-sm mt-2 leading-7 whitespace-pre-line">{{ game.description }}</p>
            </div>
            <div class="mb-4">
                <span class="font-bold text-gray-700">Автор:</span>
                <p class="text-gray-600 text-sm mt-2">{{ game.author.username }}</p>
            </div>
            <div class="mb-4">
                <span class="font-bold text-gray-700">Дата выхода:</span>
                <p class="text-gray-600 text-sm mt-2">{{ game.release_date }}</p>
            </div>
            <div class="mb-4">
                <span class="font-bold text-gray-700">Цена:</span>
                <span class="text-gray-600">{{ game.total_price|floatformat:2 }}₽</span>
                <span class="font-bold text-gray-700 md:ml-4">Скидка:</span>
                <span class="text-gray-600 md:ml-1">{{ game.discount|floatformat }}%</span>
            </div>
            <div class="mb-4">
                <span class="font-bold text-gray-700">Добавили в желаемое:</span>
                <span class="text-gray-600 text-sm mt-2">{{ total_wishlists_count }}</span>
            </div>
            <p class="text_in_cart font-bold text-gray-800 underline">
                {% if in_cart %}
                В корзине
                {% endif %}
            </p>
            <p class="mt-4 text_in_wishlist font-bold text-gray-800 underline">
                {% if in_wishlist %}
                В желаемых
                {% endif %}
            </p>
        </div>
    </div>

    <div class="mt-4">
        {% if game.author.username == user.username %}
        <div class="flex gap-2 justify-end">
            <a href='{% url "games:game_update" game_slug=game.slug game_id=game.id %}'
                class="text-gray-500 ml-1 font-bold text-lg  transition-colors duration-300 ease-in-out hover:text-orange-600">
                Изменить данные игры</a>
        </div>
        <div class="flex gap-2 justify-end">
            <a href='{% url "games:game_delete" game_slug=game.slug game_id=game.id %}'
                class="mt-2 text-gray-500 ml-1 font-bold text-lg  transition-colors duration-300 ease-in-out hover:text-orange-600">
                Удалить игру</a>
        </div>
        {% endif %}
        <div class="flex gap-2 justify-end">
            <a onclick='goBackOrRedirectToCatalog()'
                class="mt-2 inline-flex items-center rounded-md text-gray-500 transition-colors duration-300 ease-in-out hover:text-orange-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M7 16l-4-4m0 0l4-4m-4 4h18">
                    </path>
                </svg>
                <span class="ml-1 font-bold text-lg cursor-pointer">Вернуться в каталог</span>
            </a>
        </div>

        <form class="max-w-2xl bg-white rounded-lg border p-2 mx-auto mt-20">
            <div class="px-3 mb-2 mt-2">
                <textarea placeholder="comment" class="w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"></textarea>
            </div>
            <div class="flex justify-end px-4">
                <input type="submit" class="px-2.5 py-1.5 rounded-md text-white text-sm bg-indigo-500" value="Comment">
            </div>
        </form>

        <div class="flex flex-col space-y-4">
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-bold">John Doe</h3>
                <p class="text-gray-700 text-sm mb-2">Posted on April 17, 2023</p>
                <p class="text-gray-700">This is a sample comment. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-bold">Jane Smith</h3>
                <p class="text-gray-700 text-sm mb-2">Posted on April 16, 2023</p>
                <p class="text-gray-700">I agree with John. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-bold">Bob Johnson</h3>
                <p class="text-gray-700 text-sm mb-2">Posted on April 15, 2023</p>
                <p class="text-gray-700">I have a different opinion. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'javascripts/carts/cart_button.js' %}"></script>
<script src="{% static 'javascripts/wishlist/wishlist_button.js' %}"></script>

<script>
    function goBackOrRedirectToCatalog() {
        const previousUrl = document.referrer;
        const gamesCatalogUrl = '/games/';

        // Check if the previous URL contains the games catalog URL
        if (previousUrl.includes(gamesCatalogUrl)) {
            // Go back to the previous page
            window.history.back();
        } else {
            // Redirect to the games catalog page
            window.location.href = '/games/';
        }
    }
</script>
{% endblock scripts %}