{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="flex  bg-gray-100">
        <!-- Main content -->
        <div class="flex flex-col flex-1 mt-4">
            <div class="flex justify-center px-8">
                <form class="max-w-2xl" method='POST'>
                    {% csrf_token %}
                    <div class="flex flex-wrap border shadow rounded-lg p-3">
                        <h2 class="text-xl text-gray-600 pb-2">Изменение пароля:</h2>
                        <div class="flex flex-col gap-2 w-full border-gray-400">
                            <div>
                                <label class="text-gray-600">Старый пароль</label>
                                <input id='old_password' name='old_password'
                                    class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                                    type="password" autocomplete="current-password">
                                {% if form.old_password.errors %}
                                    <div class="text-red-500 text-sm mt-1">{{ form.old_password.errors.as_text }}</div>
                                {% endif %}
                            </div>

                            <div>
                                <label class="text-gray-600">Новый пароль</label>
                                <input id='new_password1' name='new_password1'
                                    class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                                    type="password" autocomplete="current-password">
                                {% if form.new_password1.errors %}
                                    <div class="text-red-500 text-sm mt-1">{{ form.new_password1.errors.as_text }}</div>
                                {% endif %}
                            </div>

                            <div>
                                <label class="text-gray-600">Подтверждение пароля</label>
                                <input id='new_password2' name='new_password2'
                                    class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                                    type="password" autocomplete="current-password">
                                {% if form.new_password2.errors %}
                                    <div class="text-red-500 text-sm mt-1">{{ form.new_password2.errors.as_text }}</div>
                                {% endif %}
                            </div>

                            <div class="flex justify-between">
                                <button
                                    class="py-1.5 px-3 m-1 text-center bg-orange-600 border rounded-md text-white  hover:bg-orange-700"
                                    type="submit">Сохранить изменения</button>
                            </div>
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                    <div class="text-red-500 text-sm mt-1">
                        {{ form.non_field_errors.as_text }}
                    </div>
                    {% endif %}
                </form> 
            </div>
        </div>
    </div>
{% endblock content %}