{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex justify-center items-center w-full">
    <div class="max-w-md w-full mt-28">
        <form method='POST'>
            {% csrf_token %}
            <div class="border shadow rounded-lg py-8 px-4">
                <h2 class="text-xl text-gray-600 pb-2">Изменение пароля</h2>
                <div class="flex flex-col gap-2 w-full border-gray-400 mt-8">
                    <div>
                        <label class="text-gray-600">Адресс электронной почты</label>
                        <input id='email' name='email' value
                            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                            type="email" autocomplete="current-email">
                        {% if form.old_password.errors %}
                        <div class="text-red-500 text-sm mt-1">{{ form.old_password.errors.as_text }}</div>
                        {% endif %}
                    </div>

                    <div class="flex justify-center mt-4">
                        <button
                            class="py-1.5 px-3 text-center bg-orange-600 border rounded-md text-white  hover:bg-orange-700"
                            type="submit">Отправить ссылку подтверждения</button>
                    </div>
                </div>
            </div>
            {% if form.non_field_errors %}
            <div class="text-red-500 text-sm mt-1">
                {{ form.non_field_errors.as_text }}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}