{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex justify-center items-center w-full">
    <div class="max-w-lg w-full mt-20">
        <div class="border shadow rounded-lg p-3 items-center text-center py-8 px-4">
            <h2 class="text-xl text-gray-600 pb-2">Вы успешно обновили пароль</h2>
            <div class="flex flex-col gap-2 border-gray-400 mt-8">
                <p>Ваш пароль был успешно изменён. Теперь вы можете использовать новый пароль для входа в свою учетную запись. В целях безопасности мы рекомендуем не делиться своими учетными данными с другими лицами и использовать сложные и уникальные пароли для каждого сервиса</p>
            </div>
            <div>
                <a href="{% url 'users:login' %}"
                    class="mt-8 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange-500 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">
                    Войти в аккаунт
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
