{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex justify-center items-center w-full">
    <div class="max-w-lg w-full mt-28">
        <div class="border shadow rounded-lg p-3 items-center text-center py-8 px-2">
            <h2 class="text-xl text-gray-600 pb-2">Ссылка отправлена</h2>
            <div class="flex flex-col gap-2 border-gray-400 mt-8">
                <p>Мы отправили на вашу электронную почту ссылку для сброса пароля. Проверьте свой почтовый ящик и следуйте инструкциям в письме для создания нового пароля. Если вы не видите сообщение в своем инбоксе, убедитесь, что оно не попало в папку "Спам".</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
