{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w-full">
    <div class="flex bg-white" style="height:625px;">
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
            <div>
                <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl text-center">Присоединяйтесь к нашей обширной библиотеке <span class="text-orange-600">Видеоигр</span></h2>
                <p class="mt-6 text-sm text-gray-500 md:text-base">Окунитесь в захватывающие миры, где каждый найдет что-то по душе. От захватывающих приключений до умопомрачительных головоломок - у нас есть игры на любой вкус и настроение. Не упустите шанс погрузиться в мир игровой фантазии уже сегодня!</p>
                <div class="flex justify-center lg:justify-start mt-6">
                    <a class="px-4 py-3 bg-orange-600 text-white text-xs font-semibold rounded hover:bg-orange-700" href="{% url 'games:catalog' %}">Перейти в каталог</a>
                    <a class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" href="{% url 'main:about' %}">Больше информации</a>
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(15% 0, 100% 0%, 100% 100%, 0 100%)">
            <div class="h-full object-cover" style="background-image: url({% static 'images/home/image_game_list_background.jpg' %})">
                <div class="h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}